
<!-- placeholder menu -->
<html>

  <body>

    <ul>
      <input type="checkbox" id="collapse"/>
      <label for="collapse"></label>

      <li><a href="/">Home</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/dashboard">Dasboard</a></li>
      <li><a href="/deck">Deck</a></li>
      <li><a (click)="goToPlayerDetailPage(player)">Player Info</a></li>
    </ul>

    <header>
      <nav>
        <h1 id="game-title"><a href="/">Space Wizards vs Pirates</a></h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/about">About</a></li>
          <li><a (click)="goToPlayerDetailPage(player)">Player Info</a></li>

            <li *ngIf="!user">
              <button (click)="login()"> Login with Google </button>
            </li>
            <li *ngIf="user">
              <button (click)="logout()">Logout</button>
            </li>
            <li *ngIf="user">
              <p>You are logged in as {{user.displayName}}</p>
            </li>

        </ul>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer></footer>

  </body>
</html>


<!-- current page -->
