<div class="playerDeck">
  <h1> {{player?.name}} </h1>

<div>
  <div class='player-deck'>
    <h1>{{pirateDeck.type}}</h1>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/74/0b/df/740bdfde43a6acc7dd91ae8818ad4f7d.jpg">
    <div *ngFor="let card of pirateShuffled">
      <h2>{{card}}</h2>
    </div>
  </div>
  <div class='player-deck'>
    <h1>{{wizardDeck.type}}</h1>
    <img *ngIf="player?.inDeck?.length > 0" src="https://s-media-cache-ak0.pinimg.com/564x/58/17/85/581785ed38d3e41c25a22163c845abec.jpg">
    <div *ngFor="let card of wizardShuffled">
      <h2>{{card}}</h2>
    </div>
  </div>
</div>
  <!-- an else to show a blank spot if player's deck is empty -->
</div>
