.player1-land {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  border: solid red 1px;
}
.player2-land {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  border: solid blue 1px;
}
.player1-hand {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
  border: solid red 1px;
}
.player2-hand {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid blue 1px;
}


.player2-deck {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid blue 1px;
}
.player2-ship {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid blue 1px;
}
.player1-deck {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  border: solid red 1px;
}
.player1-ship {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  border: solid red 1px;
}

.container {
  display: grid;
  grid-template-columns: 5% 10% 10% 50% 10% 10% 5%;
  grid-template-rows: 5% 10% 10% 20% 10% 20% 10% 10% 5%;
  border: solid 1px black;
  width: 1000px;
  height: 1000px;
}
